Below I am importing all of the necessary packages for this notebook.

In [56]:
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [57]:
## Load in Employment Stats
emp_stats = pd.read_csv('Raw_data\SeriesReport-20240410173841_ec2df1.csv', usecols=['Year','Period','labor force',
                                            'employment','unemployment','unemployment rate'], skiprows=[123])
emp_stats.head()

   Year Period  labor force  employment  unemployment  unemployment rate
0  2014    Jan       533070      502252         30818                5.8
1  2014    Feb       537613      505698         31915                5.9
2  2014    Mar       540516      508842         31674                5.9
3  2014    Apr       539950      513614         26336                4.9
4  2014    May       549253      520581         28672                5.2

In [58]:
datetime(2014,1,1)

datetime.datetime(2014, 1, 1, 0, 0)

In [59]:
emp_stats['Date'] = [0]*(len(emp_stats))
for i in range(len(emp_stats)):
    if emp_stats.loc[i,'Period'] == 'Jan':
        emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],1,1)
    elif emp_stats.loc[i,'Period'] == 'Feb':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],2,1)
    elif emp_stats.loc[i,'Period'] == 'Mar':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],3,1)
    elif emp_stats.loc[i,'Period'] == 'Apr':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],4,1)
    elif emp_stats.loc[i,'Period'] == 'May':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],5,1)
    elif emp_stats.loc[i,'Period'] == 'Jun':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],6,1)
    elif emp_stats.loc[i,'Period'] == 'Jul':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],7,1)
    elif emp_stats.loc[i,'Period'] == 'Aug':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],8,1)
    elif emp_stats.loc[i,'Period'] == 'Sep':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],9,1)
    elif emp_stats.loc[i,'Period'] == 'Oct':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],10,1)
    elif emp_stats.loc[i,'Period'] == 'Nov':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],11,1)
    elif emp_stats.loc[i,'Period'] == 'Dec':
         emp_stats.loc[i,'Date'] = datetime(emp_stats.loc[i,'Year'],12,1)

In [60]:
emp_stats.head()

,Year,Period,labor force,employment,unemployment,unemployment rate,Date
0,2014,Jan,533070,502252,30818,5.8,2014-01-01 00:00:00
1,2014,Feb,537613,505698,31915,5.9,2014-02-01 00:00:00
2,2014,Mar,540516,508842,31674,5.9,2014-03-01 00:00:00
3,2014,Apr,539950,513614,26336,4.9,2014-04-01 00:00:00
4,2014,May,549253,520581,28672,5.2,2014-05-01 00:00:00

In [61]:
### If you want to save the cleaned data uncomment the line below and run this cell
emp_stats.to_csv('Clean_Data\Employment_Stats_Clean.csv')

Below I am moving to a new data set. These datasets are from the United States Census Bureau. They have polled the City of Grand Rapids and using those polls they have esitimated the median salary for a buch of different populations in the City of Grand Rapids. The Census Bureau change the way that the format their data after 2016. Because of this when I load in the different years I am going to have to use different naming conventions because the data after 2016 has more columns with more data.

In [62]:
## These two lists are the two naming conventions for the colums
after_2016 = ['Label (Grouping)', "Total", "Total Margin of Error", "Percent", "Percent Margin of Error", "Male", "Male Margin of Error",
             "Male Percent", "Male Percent Margin of Error", "Female", "Female Margin of Error", "Female Percent", 
             "Female Percent Margin of Error"]
before_2016 = ['Label (Grouping)', "Total", "Total Margin of Error", "Male", "Male Margin of Error",
             "Female", "Female Margin of Error"]

In [63]:
## Below I am loading in each year from its corresponding csv file
GR_inc_2022 = pd.read_csv('Raw_Data\ACSST5Y2022_GR.csv',names = after_2016, skiprows=[0])
GR_inc_2021 = pd.read_csv('Raw_Data\ACSST5Y2021_GR.csv',names = after_2016, skiprows=[0])
GR_inc_2020 = pd.read_csv('Raw_Data\ACSST5Y2020_GR.csv',names = after_2016, skiprows=[0])
GR_inc_2019 = pd.read_csv('Raw_Data\ACSST5Y2019_GR.csv',names = after_2016, skiprows=[0])
GR_inc_2018 = pd.read_csv('Raw_Data\ACSST5Y2018_GR.csv',names = after_2016, skiprows=[0])
GR_inc_2017 = pd.read_csv('Raw_Data\ACSST5Y2017_GR.csv',names = after_2016, skiprows=[0])
GR_inc_2016 = pd.read_csv('Raw_Data\ACSST5Y2016_GR.csv',names = before_2016, skiprows=[0])
GR_inc_2015 = pd.read_csv('Raw_Data\ACSST5Y2015_GR.csv',names = before_2016, skiprows=[0])
GR_inc_2014 = pd.read_csv('Raw_Data\ACSST5Y2014_GR.csv',names = before_2016, skiprows=[0])
GR_inc_2013 = pd.read_csv('Raw_Data\ACSST5Y2013_GR.csv',names = before_2016, skiprows=[0])
GR_inc_2012 = pd.read_csv('Raw_Data\ACSST5Y2012_GR.csv',names = before_2016, skiprows=[0])
GR_inc_2011 = pd.read_csv('Raw_Data\ACSST5Y2011_GR.csv',names = before_2016, skiprows=[0])
GR_inc_2010 = pd.read_csv('Raw_Data\ACSST5Y2010_GR.csv',names = before_2016, skiprows=[0])

In [64]:
col_names = {'Percent': 'Total','Percent Margin of Error': 'Total Margin of Error',
            'Male Percent': 'Male','Male Percent Margin of Error': 'Male Margin of Error','Female Percent': 'Female',
                                'Female Percent Margin of Error': 'Female Margin of Error'}

In [65]:
def clean_data(city):
    salary_range = []
    education_level = []
    median = []

    for year in range(2010, 2017):
        globals()[f"{city}_range_{year}"] = globals()[f"{city}_inc_{year}"][2:12] # Grabbing the rows with the salary ranges
        globals()[f"{city}_range_{year}"].loc[:,"Year"] = [year]*len(globals()[f"{city}_range_{year}"]) # Creating a year column
        salary_range.append(globals()[f"{city}_range_{year}"])

    for year in range(2017, 2023):
        # The line below grabs the data we want
        globals()[f"{city}_range_{year}"] = globals()[f"{city}_inc_{year}"][2:12][['Label (Grouping)','Percent','Percent Margin of Error','Male Percent',
                                                    'Male Percent Margin of Error','Female Percent','Female Percent Margin of Error']]
        globals()[f"{city}_range_{year}"].loc[:,"Year"] = [year]*len(globals()[f"{city}_range_{year}"]) # Adds a year column
        globals()[f"{city}_range_{year}"] = globals()[f"{city}_range_{year}"].rename(columns=col_names) # Renames the columns
        salary_range.append(globals()[f"{city}_range_{year}"])

    full_time_salary_ranges = pd.concat(salary_range[::-1],ignore_index=True)
    
    # Turning all the columns but 'Label (Grouping)' into floats
    full_time_salary_ranges.loc[:,'Total'] = full_time_salary_ranges.loc[:,'Total'].str.replace(',', '').str.rstrip('%').astype(float)
    full_time_salary_ranges.loc[:,'Male'] = full_time_salary_ranges.loc[:,'Male'].str.replace(',', '').str.rstrip('%').astype(float)
    full_time_salary_ranges.loc[:,'Female'] = full_time_salary_ranges.loc[:,'Female'].str.replace(',', '').str.rstrip('%').astype(float)

    full_time_salary_ranges.loc[:,'Total Margin of Error'] = full_time_salary_ranges.loc[:,'Total Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(float)/10
    full_time_salary_ranges.loc[:,'Male Margin of Error'] = full_time_salary_ranges.loc[:,'Male Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(float)/10
    full_time_salary_ranges.loc[:,'Female Margin of Error'] = full_time_salary_ranges.loc[:,'Female Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(float)/10

    # Removes the leading white space in the 'Label (Grouping) column
    full_time_salary_ranges.loc[:,'Label (Grouping)'] = full_time_salary_ranges.loc[:,'Label (Grouping)'].str.lstrip()

    full_time_salary_ranges['rank'] = [0]*len(full_time_salary_ranges)
    for i in range(len(full_time_salary_ranges)):
        if full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$1 to $9,999 or loss":
            full_time_salary_ranges.loc[i,"rank"] = 1
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$10,000 to $14,999":
            full_time_salary_ranges.loc[i,"rank"] = 2
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$15,000 to $24,999":
            full_time_salary_ranges.loc[i,"rank"] = 3
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$25,000 to $34,999":
            full_time_salary_ranges.loc[i,"rank"] = 4
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$35,000 to $49,999":
            full_time_salary_ranges.loc[i,"rank"] = 5
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$50,000 to $64,999":
            full_time_salary_ranges.loc[i,"rank"] = 6
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$65,000 to $74,999":
            full_time_salary_ranges.loc[i,"rank"] = 7
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$75,000 to $99,999":
            full_time_salary_ranges.loc[i,"rank"] = 8
        elif full_time_salary_ranges.loc[i,"Label (Grouping)"] == "$100,000 or more":
            full_time_salary_ranges.loc[i,"rank"] = 9

    full_time_salary_ranges = full_time_salary_ranges.rename(columns={'Label (Grouping)': f'{city} Label (Grouping)', 'Total': f'{city} Total', 
                                            'Total Margin of Error': f'{city} Total Margin of Error', 'Male': f'{city} Male', 
                                            'Male Margin of Error': f'{city} Male Margin of Error', 'Female': f'{city} Female', 
                                            'Female Margin of Error': f'{city} Female Margin of Error', 'Year': f'{city} Year', 'rank': F'{city} Rank'})
    
    # Looping through the 2010-2016 years
    for year in range(2010, 2017):
        # Creating a dataframe and grabbing the data with the estimated median salary for each education level
        globals()[f"{city}_education_{year}"] = globals()[f"{city}_inc_{year}"][15:21]
        # Adding a year column
        globals()[f"{city}_education_{year}"].loc[:,"Year"] = [year]*len(globals()[f"{city}_education_{year}"])
        education_level.append(globals()[f"{city}_education_{year}"])

    for year in range(2017, 2023):
        # Again creating a dataframe and grabbing the data with the estimated median salary for each education level
        # Only this time we are making sure to grab only the columns that align with the earlier years
        globals()[f"{city}_education_{year}"] = globals()[f"{city}_inc_{year}"][15:21][['Label (Grouping)','Total','Total Margin of Error','Male',
                                                    'Male Margin of Error','Female','Female Margin of Error']]
        # Adding a year column
        globals()[f"{city}_education_{year}"].loc[:,"Year"] = [year]*len(globals()[f"{city}_education_{year}"])
        education_level.append(globals()[f"{city}_education_{year}"])

    # Concatenating the education levels for each year into one data frame
    median_salary_per_education = pd.concat(education_level[::-1],ignore_index=True)

    # Turning all the columns but 'Label (Grouping)' into floats
    median_salary_per_education.loc[:,'Total'] = median_salary_per_education.loc[:,'Total'].str.replace(',', '').astype(int)
    median_salary_per_education.loc[:,'Male'] = median_salary_per_education.loc[:,'Male'].str.replace(',', '').astype(int)
    median_salary_per_education.loc[:,'Female'] = median_salary_per_education.loc[:,'Female'].str.replace(',', '').astype(int)

    median_salary_per_education.loc[:,'Total Margin of Error'] = median_salary_per_education.loc[:,'Total Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(int)
    median_salary_per_education.loc[:,'Male Margin of Error'] = median_salary_per_education.loc[:,'Male Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(int)
    median_salary_per_education.loc[:,'Female Margin of Error'] = median_salary_per_education.loc[:,'Female Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(int)

    # Removes the leading white space in the 'Label (Grouping) column
    median_salary_per_education['Label (Grouping)'] = median_salary_per_education['Label (Grouping)'].str.strip()

    median_salary_per_education = median_salary_per_education.rename(columns={'Label (Grouping)': f'{city} Label (Grouping)', 'Total': f'{city} Total', 
                                            'Total Margin of Error': f'{city} Total Margin of Error', 'Male': f'{city} Male', 
                                            'Male Margin of Error': f'{city} Male Margin of Error', 'Female': f'{city} Female', 
                                            'Female Margin of Error': f'{city} Female Margin of Error', 'Year': f'{city} Year'})

    for year in range(2010, 2017):
        # Grabbing rows with estimated median salary
        globals()[f"{city}_median_{year}"] = globals()[f"{city}_inc_{year}"][0:2]
        # Adding a year column
        globals()[f"{city}_median_{year}"].loc[:,"Year"] = [year]*len(globals()[f"{city}_median_{year}"])
        median.append(globals()[f"{city}_median_{year}"])

    
    for year in range(2017, 2023):
        # Grabbing rows with estimated median salary
        globals()[f"{city}_median_{year}"] = globals()[f"{city}_inc_{year}"][0:2][['Label (Grouping)','Total','Total Margin of Error','Male',
                                                    'Male Margin of Error','Female','Female Margin of Error']]
        # Adding a year column
        globals()[f"{city}_median_{year}"].loc[:,"Year"] = [year]*len(globals()[f"{city}_median_{year}"])
        median.append(globals()[f"{city}_median_{year}"])
    
    # Combing the median salary data into one data frame
    median_salary = pd.concat(median[::-1],ignore_index=True)
    
    # Turning all the columns but 'Label (Grouping)' into floats
    median_salary.loc[:,'Total'] = median_salary.loc[:,'Total'].str.replace(',', '').astype(int)
    median_salary.loc[:,'Male'] = median_salary.loc[:,'Male'].str.replace(',', '').astype(int)
    median_salary.loc[:,'Female'] = median_salary.loc[:,'Female'].str.replace(',', '').astype(int)

    median_salary.loc[:,'Total Margin of Error'] = median_salary.loc[:,'Total Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(int)
    median_salary.loc[:,'Male Margin of Error'] = median_salary.loc[:,'Male Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(int)
    median_salary.loc[:,'Female Margin of Error'] = median_salary.loc[:,'Female Margin of Error'].str.replace('[^0-9]', '', regex=True).astype(int)

    # Removes the leading white space in the 'Label (Grouping) column
    median_salary['Label (Grouping)'] = median_salary['Label (Grouping)'].str.strip()

    median_salary = median_salary.rename(columns={'Label (Grouping)': f'{city} Label (Grouping)', 'Total': f'{city} Total', 'Total Margin of Error': f'{city} Total Margin of Error',
                                            'Male': f'{city} Male', 'Male Margin of Error': f'{city} Male Margin of Error', 'Female': f'{city} Female', 
                                            'Female Margin of Error': f'{city} Female Margin of Error', 'Year': f'{city} Year'})


    return(full_time_salary_ranges, median_salary_per_education, median_salary)

In [66]:
GR_salary_ranges, GR_education, GR_median = clean_data('GR')

In [67]:
GR_salary_ranges.to_csv('Clean_Data\GR_salary_ranges_clean.csv')
GR_education.to_csv('Clean_Data\GR_education_level_clean.csv')
GR_median.to_csv('Clean_Data\GR_median_salary.csv')

In [68]:
## Below I am loading in each year from its corresponding csv file
MA_inc_2022 = pd.read_csv('Raw_Data\ACSST5Y2022_MA.csv',names = after_2016, skiprows=[0])
MA_inc_2021 = pd.read_csv('Raw_Data\ACSST5Y2021_MA.csv',names = after_2016, skiprows=[0])
MA_inc_2020 = pd.read_csv('Raw_Data\ACSST5Y2020_MA.csv',names = after_2016, skiprows=[0])
MA_inc_2019 = pd.read_csv('Raw_Data\ACSST5Y2019_MA.csv',names = after_2016, skiprows=[0])
MA_inc_2018 = pd.read_csv('Raw_Data\ACSST5Y2018_MA.csv',names = after_2016, skiprows=[0])
MA_inc_2017 = pd.read_csv('Raw_Data\ACSST5Y2017_MA.csv',names = after_2016, skiprows=[0])
MA_inc_2016 = pd.read_csv('Raw_Data\ACSST5Y2016_MA.csv',names = before_2016, skiprows=[0])
MA_inc_2015 = pd.read_csv('Raw_Data\ACSST5Y2015_MA.csv',names = before_2016, skiprows=[0])
MA_inc_2014 = pd.read_csv('Raw_Data\ACSST5Y2014_MA.csv',names = before_2016, skiprows=[0])
MA_inc_2013 = pd.read_csv('Raw_Data\ACSST5Y2013_MA.csv',names = before_2016, skiprows=[0])
MA_inc_2012 = pd.read_csv('Raw_Data\ACSST5Y2012_MA.csv',names = before_2016, skiprows=[0])
MA_inc_2011 = pd.read_csv('Raw_Data\ACSST5Y2011_MA.csv',names = before_2016, skiprows=[0])
MA_inc_2010 = pd.read_csv('Raw_Data\ACSST5Y2010_MA.csv',names = before_2016, skiprows=[0])

In [69]:
MA_salary_ranges, MA_education, MA_median = clean_data('MA')

In [70]:
MA_salary_ranges.to_csv('Clean_Data\MA_salary_ranges_clean.csv')
MA_education.to_csv('Clean_Data\MA_education_level_clean.csv')
MA_median.to_csv('Clean_Data\MA_median_salary.csv')

In [71]:
## Below I am loading in each year from its corresponding csv file
AU_inc_2022 = pd.read_csv('Raw_Data\ACSST5Y2022_AU.csv',names = after_2016, skiprows=[0])
AU_inc_2021 = pd.read_csv('Raw_Data\ACSST5Y2021_AU.csv',names = after_2016, skiprows=[0])
AU_inc_2020 = pd.read_csv('Raw_Data\ACSST5Y2020_AU.csv',names = after_2016, skiprows=[0])
AU_inc_2019 = pd.read_csv('Raw_Data\ACSST5Y2019_AU.csv',names = after_2016, skiprows=[0])
AU_inc_2018 = pd.read_csv('Raw_Data\ACSST5Y2018_AU.csv',names = after_2016, skiprows=[0])
AU_inc_2017 = pd.read_csv('Raw_Data\ACSST5Y2017_AU.csv',names = after_2016, skiprows=[0])
AU_inc_2016 = pd.read_csv('Raw_Data\ACSST5Y2016_AU.csv',names = before_2016, skiprows=[0])
AU_inc_2015 = pd.read_csv('Raw_Data\ACSST5Y2015_AU.csv',names = before_2016, skiprows=[0])
AU_inc_2014 = pd.read_csv('Raw_Data\ACSST5Y2014_AU.csv',names = before_2016, skiprows=[0])
AU_inc_2013 = pd.read_csv('Raw_Data\ACSST5Y2013_AU.csv',names = before_2016, skiprows=[0])
AU_inc_2012 = pd.read_csv('Raw_Data\ACSST5Y2012_AU.csv',names = before_2016, skiprows=[0])
AU_inc_2011 = pd.read_csv('Raw_Data\ACSST5Y2011_AU.csv',names = before_2016, skiprows=[0])
AU_inc_2010 = pd.read_csv('Raw_Data\ACSST5Y2010_AU.csv',names = before_2016, skiprows=[0])

In [72]:
AU_salary_ranges, AU_education, AU_median = clean_data('AU')

In [73]:
AU_salary_ranges.to_csv('Clean_Data\AU_salary_ranges_clean.csv')
AU_education.to_csv('Clean_Data\AU_education_level_clean.csv')
AU_median.to_csv('Clean_Data\AU_median_salary.csv')

In [74]:
pd.read_csv('Raw_data\SeriesReport-20240410173841_ec2df1.csv', usecols=['Year','Period','labor force','employment','unemployment',
                                                                      'unemployment rate'], skiprows=[123])

     Year Period  labor force  employment  unemployment  unemployment rate
0    2014    Jan       533070      502252         30818                5.8
1    2014    Feb       537613      505698         31915                5.9
2    2014    Mar       540516      508842         31674                5.9
3    2014    Apr       539950      513614         26336                4.9
4    2014    May       549253      520581         28672                5.2
..    ...    ...          ...         ...           ...                ...
117  2023    Oct       611665      591971         19694                3.2
118  2023    Nov       617303      601047         16256                2.6
119  2023    Dec       605874      588746         17128                2.8
120  2024    Jan       602196      584276         17920                3.0
121  2024    Feb       606204      586688         19516                3.2

[122 rows x 6 columns]